/*此为笔者网站较为个性化的鼠标指针样式，可结合个人需要自行修改*/
body {
	cursor: url(../cur/Arrow.cur), default;
}
select{
	cursor: url(../cur/Hand2.cur), pointer;
}
button,a:hover{
	cursor: url(../cur/Hand2.cur), pointer;
}
input{
	cursor:url(../cur/Help.cur), text;	
}
textarea,input:focus{
	cursor:url(../cur/IBeam.cur), text;	
}
code{
	cursor: url(../cur/Handwriting.cur), default;	
}
pre>code{
	cursor: url(../cur/Copy.cur), default;	
}
